/* Code by 2024—2025 Matthew DeCalzadilla */

.Page {
    min-height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(29, 31, 36));
}

.Page::before {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(29, 31, 36, 0.7));
    z-index: -1;
    inset: 0;
    content: '';
    position: absolute;

    animation: backgroundFadeIn 2.25s ease forwards;
}

@keyframes backgroundFadeIn {
    0% {
        background-color: rgb(31, 32, 34);
    }
    100% {
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(29, 31, 36, 0.7));
    }
}