.BackgroundTop {
    background: rgba(15, 21, 37, 0.7);
    content: '';
    inset: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.Background {
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}