.BackgroundTop {
    background: rgba(15, 21, 37, 0.7);
    content: '';
    inset: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.Background {
    overflow: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

.BackgroundImage {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    image-rendering: pixelated;
    filter: blur(3px);
}