/* Matthew DeCalzadilla 2024—2025 */

.Scroller {
    height: max(600px, fit-content);
    scrollbar-color: rgba(119, 136, 153, 0.55) rgba(0, 0, 0, 0);
}

.ScrollerButton {
    width: 6.5%;
    min-width: 96px;
}

.ScrollerButtonContainer {
    height: 87.75%;
    bottom: 5%;
}