/* Matthew DeCalzadilla 2024—2025 */

$primary: #88CCEE;
$danger: #CE5151;
$warning: #F0DF8E;

// Bootstrap and its default variables
@import 'vendors/bootstrap.scss';

// Component stylesheets
@import 'components/Navbar/Navbar.scss';
@import 'components/Navbar/NavbarWidescreen.scss';
@import 'components/Navbar/NavbarDropdown.scss';
@import 'components/Navbar/NavbarButton.scss';
@import 'components/Background.scss';
@import 'components/CensorBlur.scss';
@import 'components/Footer.scss';
@import 'components/IconButton.scss';
@import 'components/Scroller.scss';
@import 'components/SocialsLink.scss';
@import 'components/Thumbnail.scss';
@import 'components/UnorderedList.scss';

// Page stylesheets
@import 'pages/Page.scss';
@import 'pages/Art/ArtImage.scss';
@import 'pages/Home/Home.scss';
@import 'pages/Music/MusicRelease.scss';
@import 'pages/Wads/WadRelease.scss';

// Animation keyframes
@import 'keyframes/fadeIn.scss';
@import 'keyframes/growOnHover.scss';
@import 'keyframes/popIn.scss';

// root element style
#root {
    height: 100vh;
}

// HTML document style
html, body {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    text-rendering: geometricPrecision;
}

body {
    background-color: rgb(15, 21, 37);
}

// HTML elements
div {
    font-size: clamp(.75rem, 3.25vw, 1rem);
}

p {
    font-size: clamp(.75rem, 3.25vw, 1rem);
}

a {
    font-size: clamp(.75rem, 3.25vw, 1rem);
    text-decoration: none;
}

h1 {
    font-size: clamp(1rem, 7vw, 2.75rem);
    text-shadow: 1px 3px black;
}

h2 {
    font-size: clamp(1rem, 5vw, 2rem);
    text-shadow: 1px 3px black;
}

h3 {
    text-shadow: 1px 2px black;
}

h4 {
    font-size:clamp(1rem, 4.75vw, 1.5rem);
    text-shadow: 1px 2px black;
}

h5 {
    text-shadow: 1px 2px black;
}

img {
    image-rendering: crisp-edges;
}