/* 2024 Matthew DeCalzadilla */

.ArtImage {
    min-width: clamp(320px, 32em, 95vw);
    max-height: 90vh;
}

.ImageBlur {
    z-index: 1;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
}