/* 2024 Matthew DeCalzadilla */

.MusicRelease {
    min-width: 35em;
    max-height: 80vh;
}

.AlbumArt {
    height: clamp(30vh, 50%, 40vh);
    max-width: 100vw;
}

.AlbumCard {
    min-width: 75%;
    max-width: 100vw;
}