/* Matthew DeCalzadilla 2024—2025 */

@import '../../keyframes/fadeIn.scss';

.NavbarContainer {
    position: fixed;
    width: 100%;
    z-index: 4;

    animation: fadeIn 0.9s ease 0.25s 1 forwards;
    opacity: 0;
}

.Navbar {
    overflow: hidden;
    width: fit-content;
}

.NavbarLogo {
    max-width: 100%;
    max-height: 36px;
}

.NavbarButtons {
    width: 100%;
}